/*universal stylings*/



/* Header Styles */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

/* Logo Styling */

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
  min-width: 75px;
}

/* Nav Styling */

header nav {
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

/*content styling*/

.main-content {
  padding-top: 116px;
  display: flex;
}

/*column styling*/

.column {
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}









/* End Css File*/
